<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hearingthevoice.innerlife"
    android:versionCode="3"
    android:versionName="1.0.196" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" tools:ignore="OldTargetApi"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="org.hearingthevoice.innerlife.AppManager"
        android:allowBackup="false"
        android:icon="@drawable/innerlife_icon_96x96_xhdpi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.hearingthevoice.innerlife.ui.activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="org.hearingthevoice.innerlife.ui.activity.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.hearingthevoice.innerlife.ui.activity.FirstRunFormActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="org.hearingthevoice.innerlife.ui.activity.SummaryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="org.hearingthevoice.innerlife.ui.activity.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name="org.hearingthevoice.innerlife.ui.activity.EndActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
        </activity>

        <receiver
            android:name="org.hearingthevoice.innerlife.services.AlarmReceiver"
            android:process=":remote" />
        <receiver android:name="org.hearingthevoice.innerlife.services.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="org.hearingthevoice.innerlife.services.BootService" />

        <activity
            android:name="org.hearingthevoice.innerlife.ui.activity.DebugActivity"
            android:label="@string/title_activity_debug" >
        </activity>
    </application>

</manifest>