body
{
	font-family: Helvetica, "MS Trebuchet", sans-serif;
}

#form
{
	float: left;
	background-color: #DDD;
}

#iphone
{
	background-image: url("iphone.png");
	float: right;
	width: 400px;
	height: 730px;
}

#iphone #screen
{
	position: relative;
	top: 126px;
	left: 38px;
	width: 320px;
	height: 480px;
	background-color: #AFBDCC;
	background-image: url("ps/groupedtableviewback.png");
}

#iphone #screen #status
{
	background-image: url("ps/statusbar.png");
	height: 19px;
}

#iphone #screen #navigation
{
	width: 320px;
    background-image: url("ps/navigationbarblue.png");
	height: 45px;
	color: white;
	font-size: 18pt;
	font-style: oblique;
	text-align: center;
	text-shadow: #555 0px -1px 0px;
}

#iphone #screen #navigation #screen-title
{
	width: auto;
	line-height: 45px;
}

#iphone #screen #navigation #back-button
{
	position: absolute;
	float: left;
	left: 7px;
	top: 25px;
	background-repeat: no-repeat;
	font-size: 11pt;
	width: 65px;
	height: 31px;
	line-height: 32px;
    background-image: url("ps/backbutton.png");
	padding-left: 2px;
}

#iphone #screen #navigation #done-button
{
	position: absolute;
	float: right;
	top: 25px;
	right: 10px;
	background-repeat: no-repeat;
	font-size: 11pt;
	width: 57px;
	height: 31px;
	line-height: 32px;
    background-image: url("ps/actionbutton.png");
}

#iphone #screen #tableview
{
	padding: 10px;
}

#iphone .section-header
{
	color: #5C7091;
	font-size: 13pt;
	font-style: oblique;
	text-shadow: #AAA 1px 1px 0px;
	padding: 0px;
	margin-bottom: 7px;
}

#iphone .section
{
	background-color: white;
	border: 1px solid #a9a9a9;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	line-height: 1.3;
}

#iphone #tableview ul
{
	font-style: normal;
	border: 1px solid #a9a9a9;
	border-radius: 5px;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#iphone #tableview li
{
	border-bottom: 1px solid #a9a9a9;
	background-color: white;
	padding: 10px;
	font-size: 12pt;
}

#iphone #tableview li:last-child
{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#iphone #tableview li:first-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.iphone-checkbox
{
	float: right;
}